grant {
   permission java.io.FilePermission "ManagerApp_logs", "read, write"; 
   permission java.io.FilePermission "ManagerApp_logs\file.log", "read, write"; 
   permission java.util.logging.LoggingPermission   "control";
};