grant {
   permission java.io.FilePermission "ManagerApp_logs/*", "read, write, delete"; 
   permission java.io.FilePermission "ManagerApp_logs", "read, write"; 
   permission java.util.logging.LoggingPermission   "control";
   permission java.net.SocketPermission "8.8.8.8:10002", "accept,connect,resolve";
   permission java.util.PropertyPermission "java.rmi.server.hostname" "write";
};